@import '../../styles/helper.scss';

// How to use : https://tomastrajan.medium.com/the-complete-guide-to-angular-material-themes-4d165a9d24d1
@mixin cfar-exercise-flow-theme($theme) {

    // Colors used for element backgrounds
    $bg-palette: map-get($theme, background);

    // Colors used for texts and icons
    $fg-palette: map-get($theme, foreground);

    // Main color most widely used across all screens and components
    $primary-palette: map-get($theme, primary);

    // Also known as the secondary color. Used for floating action buttons and interactive elements.
    $accent-palette: map-get($theme, accent);

    // Color to convey error state
    $warn-palette: map-get($theme, warn);

    // If it's dark theme or not
    $is-dark: map-get($theme, is-dark);

    // ----------------------------------------------

    hopper-cfar-exercise-flow {
        .mat-button, 
        .mat-flat-button, 
        .mat-icon-button, 
        .mat-raised-button,
        .mat-stroked-button { 
            border-radius: 0px; 
        }

        .header {
            height: 48px;
            margin: 0px;
            text-align: center;
            border-bottom: 1px solid map-get($fg-palette, divider);
        }

        .card-content {
            max-width: 100%;

            mat-stepper {
                width: 100%;
            }

            .mat-vertical-stepper-content[aria-expanded="false"] {
                display: none;
            }

            @include media-breakpoint('lt-md') {
                mat-step-header {
                    padding: 16px 0px;
                }

                .mat-vertical-content-container  {
                    margin-left: 12px;

                    .mat-vertical-content {
                        padding: 16px;
                    }
                }
            }

            @include media-breakpoint('lt-sm') {
                // Full-height - header height
                max-height: calc(100% - 48px);
            }

            @if($is-dark) {
                background-color: rgb(52,52,52);
            } @else {
                background-color: rgb(255,255,255);
            }

            .title {
                color: map-get($accent-palette, default);
                font-size: 20px;
                font-weight: bold;
            }

            .text-justify {
                text-align: justify;
            }

            .subtitle {
                font-size: 16px;
                font-weight: bold;
            }

            .flight-icon {
                transform: rotate(90deg);
                font-size: 32px;
                width: 32px;
                height: 32px;
            }

            .decorative-stroke {
                height: 2px;
                background-color: map-get($accent-palette, default);
                width: 100%;
            }

            .itinerary-container {
                border-right: 1px solid map-get($fg-palette, divider);
                width: 100%;
                
                @include media-breakpoint('lt-sm') {
                    border-right: none;
                    border-bottom: 1px solid map-get($fg-palette, divider);
                    padding-bottom: 16px;
                }
            }

            mat-card {
                border-radius: 0px;
                
                &:hover {
                    @include mat.elevation(4);
                }

                &.active {
                    border: 2px solid map-get($accent-palette, default);
                }

                .offer-title {
                    font-weight: bold;
                }
            }

            .custom-icon {
                * {
                    fill: map-get($accent-palette, default);
                }
            }

            .resent-code-label {
                font-size: 11px;
                cursor: pointer;
            }

            .error-message {
                background: map-get($warn-palette, 50);
                border: 1px solid map-get($warn-palette, default);
                padding: 0px 16px;
                color: black;
            }

            .information-message {
                width: 100%;
                text-align: center;
            }

            fieldset {
                border: 2px solid map-get($accent-palette, default);
                border-radius: 8px;

                legend {
                    border: 2px solid map-get($accent-palette, default);
                    border-radius: 8px;
                }
            }

            .confirmation-icon {
                background: map-get($accent-palette, default);
                border-radius: 50%;
                padding: 8px;
                color: white;
            }

            .origin-destination {
                font-weight: bold;
                font-size: 1.6rem;
            }

            // Hyperwallet
            .hw-form-transfer-methods {
                fieldset {
                    padding: 16px;
                    margin: 16px 0px;
                }

                .hw-fields {
                    display: flex;
                    flex-flow: row wrap;
                    margin-bottom: 16px;

                    .hw-label,
                    .hw-number,
                    .hw-input,
                    .hw-select {
                        width: 100%;
                        height: 2rem;
                        margin-bottom: 8px;
                    }

                    .hw-error-message {
                        width: 100%;
                        height: 2rem;
                        margin-bottom: 8px;
                        color: map-get($warn-palette, default);
                    }
                }
            }

            #hw-widget-selection-step-tmc-selection-form {
                .hw-group-with-template {
                    // Hide useless block
                    display: none;
                }
            }
            
            .hw-custom-transfermethodtype-items {
                width: 100%;
            }

            .hw-global-errors {
                background: rgba(255, 0, 0, 0.25);
                padding: 16px;
                color: map-get($warn-palette, default);
                border: 1px solid map-get($warn-palette, default);
                margin: 16px;

                .hw-global-errors-list {
                    list-style: none;
                    padding-inline-start: 0px;
                }
            }

            .hw-tmc-back-button,
            .hw-tmc-submit-button {
                font-family: Roboto, "Helvetica Neue", sans-serif;
                font-size: 14px;
                font-weight: 500;
                box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
                cursor: pointer;
                border: none;
                min-width: 64px;
                line-height: 36px;
                padding: 0px 16px;
                width: 80%;
                margin: 8px 10%;
            }

            .hw-tmc-submit-button {
                background-color: map-get($accent-palette, default);
                color: map-get($accent-palette, "default-contrast");
            }
        }
    }      
}