<div mat-dialog-title class="p-32" ngClass.lt-md="px-16" fxLayout="row" fxLayout="start center" fxLayoutGap="16px">
    
    <div fxFlex="calc(80% - 16px)"  fxLayoutAlign="center start" fxLayout="column">
        <h2>{{ 'CFAR_OFFER_DIALOG.TITLE' | translate }}</h2>
    </div>

    <div fxFlex="calc(20% - 16px)" fxLayoutAlign="end start">
        <button mat-mini-fab matTooltip="Close" (click)="onClose()">
            <mat-icon>clear</mat-icon>
        </button>
    </div>

    <div fxFlex="100" class="powered-by-container">
        <span class="powered-by px-16 py-8">{{ 'CFAR_OFFER_DIALOG.POWERED_BY' | translate }}</span>
    </div>

</div>

<mat-dialog-content class="mat-typography">
  
    <ng-container *ngIf="!isLoading">

        <ng-container *ngIf="cfarOffers && cfarOffers.length > 0">
            <div class="p-32" ngClass.lt-md="px-16" fxLayout="row wrap" fxLayoutAlign="start center">
        
                <div fxFlex="100" class="py-8" *ngFor="let desc of selectedCfarOffer?.offerDescription" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <mat-icon class="check-icon">check</mat-icon>
                    <span>{{ desc }}</span>
                </div>

                <div fxFlex="100" class="py-8" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                    <span>{{ 'CFAR_OFFER_DIALOG.TERMS_WARNING' | translate }}</span>
                    <a href="#" target="_blank">{{ 'CFAR_OFFER_DIALOG.TERMS_LINK_TEXT' | translate }}</a>
                </div>
            
            </div>

            <div class="px-32" ngClass.lt-md="px-16" fxLayout="column" fxLayoutAlign="center center">
        
                <mat-card class="full-width m-16" fxFlex fxLayout="row wrap" *ngFor="let offer of cfarOffers" 
                    [ngClass]="{ 'active': offer == selectedCfarOffer }">
                    <div fxFlex="100" (click)="onSelectOffer(offer)">
                        <h3 class="offer-title">{{ computePercentage(offer) | percent }} Flight cost covered</h3>
                        <span class="price">{{ offer?.premium | currency:offer?.currency:'symbol' }}</span>
                    </div>
                </mat-card>

            </div>
        </ng-container>

        <ng-container *ngIf="!cfarOffers || cfarOffers?.length == 0">
            <div class="px-32" ngClass.lt-md="px-16" fxLayout="row wrap" fxLayoutAlign="center center">
                <p>{{ 'CFAR_OFFER_DIALOG.NO_OFFERS' | translate }}</p>
            </div>
        </ng-container>

    </ng-container>

    <ng-container *ngIf="isLoading">
        <div class="p-32" ngClass.lt-md="px-16" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
            <mat-spinner></mat-spinner>
            <p>{{ 'CFAR_OFFER_DIALOG.LOADING' | translate }}</p>
        </div>
    </ng-container>
    
</mat-dialog-content>

<mat-dialog-actions>

    <div class="p-32" *ngIf="!isLoading" ngClass.lt-md="px-16" 
        fxFlex="100" fxLayout="row wrap" fxLayoutGap="16px" fxLayout.lt-sm="column" fxLayoutAlign="center center">
        <button mat-raised-button ngClass.lt-sm="full-width" (click)="onClose()">
            {{ 'CFAR_OFFER_DIALOG.BUTTON.CANCEL' | translate }}
        </button>
        <button mat-raised-button color="primary" ngClass.lt-sm="full-width" (click)="onSubmit()">
            {{ 'CFAR_OFFER_DIALOG.BUTTON.SUBMIT' | translate: { 
                coverage: (computePercentage(selectedCfarOffer) | percent)
            } }}
        </button>
    </div>
  
</mat-dialog-actions>