@import '../../styles/helper.scss';
@import '../../styles/dialog.scss';

// How to use : https://tomastrajan.medium.com/the-complete-guide-to-angular-material-themes-4d165a9d24d1
@mixin cfar-exercise-dialog-theme($theme) {

    // Colors used for element backgrounds
    $bg-palette: map-get($theme, background);

    // Colors used for texts and icons
    $fg-palette: map-get($theme, foreground);

    // Main color most widely used across all screens and components
    $primary-palette: map-get($theme, primary);

    // Also known as the secondary color. Used for floating action buttons and interactive elements.
    $accent-palette: map-get($theme, accent);

    // Color to convey error state
    $warn-palette: map-get($theme, warn);

    // If it's dark theme or not
    $is-dark: map-get($theme, is-dark);

    // ----------------------------------------------

    hopper-cfar-exercise-dialog {
        .mat-button, 
        .mat-flat-button, 
        .mat-icon-button, 
        .mat-raised-button,
        .mat-stroked-button { 
            border-radius: 0px; 
        }

        .mat-dialog-title {
            height: 100px;
            background-color: map-get($accent-palette, 900);
            color: map-get($accent-palette, "900-contrast");
            margin: 0px;
        
            .big-icon {
                font-size: 4rem;
                height: 100%;
            }
        }

        .mat-dialog-content {
            @include media-breakpoint('lt-sm') {
                // Full-height - mat-dialog-title height
                max-height: calc(100% - 100px);
            }

            &.sidebar-mode {
                // Full-height - mat-dialog-title height
                max-height: calc(100% - 100px);
            }

            @if($is-dark) {
                background-color: rgb(52,52,52);
            } @else {
                background-color: rgb(255,255,255);
            }

            .title {
                color: map-get($primary-palette, default);
                font-size: 20px;
                font-weight: bold;
            }

            .text-justify {
                text-align: justify;
            }

            .subtitle {
                font-size: 16px;
                font-weight: bold;
            }

            .flight-icon {
                transform: rotate(90deg);
                font-size: 32px;
                width: 32px;
                height: 32px;
            }

            .decorative-stroke {
                height: 2px;
                background-color: map-get($primary-palette, default);
                width: 100%;
            }

            .itinerary-container {
                border-right: 1px solid map-get($fg-palette, divider);
            }

            mat-card {
                border-radius: 0px;
                
                &:hover {
                    @include mat-elevation(4);
                }

                &.active {
                    border: 2px solid map-get($primary-palette, default);
                }

                .offer-title {
                    font-weight: bold;
                }
            }

            .custom-icon {
                * {
                    fill: map-get($primary-palette, default);
                }
            }

            .error-message {
                @if ($is-dark == false) {
                    background: map-get($warn-palette, 50);
                }
                
                border: 1px solid map-get($warn-palette, default);
                width: 100%;
                text-align: center;
                color: map-get($warn-palette, default);
            }

            fieldset {
                border: 2px solid map-get($primary-palette, default);
                border-radius: 8px;

                legend {
                    border: 2px solid map-get($primary-palette, default);
                    border-radius: 8px;
                }
            }

            .confirmation-icon {
                background: map-get($primary-palette, default);
                border-radius: 50%;
                padding: 8px;
                color: white;
            }

            .origin-destination {
                font-weight: bold;
                font-size: 1.6rem;
            }

            // Hyperwallet
            .hw-form-transfer-methods {
                .hw-group {
                    padding: 16px;
                    margin: 16px 0px;

                    legend {
                        padding: 8px 16px;
                    }

                    .hw-form-group {
                        display: flex;
                        flex-flow: row wrap;
                        margin-bottom: 16px;
                    }

                    .hw-label,
                    .hw-number,
                    .hw-input,
                    .hw-select {
                        width: 100%;
                        height: 2rem;
                        margin-bottom: 8px;
                    }

                    .hw-error-message {
                        color: map-get($warn-palette, default);
                    }
                }

                .hw-global-errors {
                    background: rgba(255, 0, 0, 0.25);
                    padding: 16px;
                    color: map-get($warn-palette, default);
                    border: 1px solid map-get($warn-palette, default);
                    margin: 16px;

                    .hw-global-errors-list {
                        list-style: none;
                        padding-inline-start: 0px;
                    }
                }

                .hw-button {
                    width: 50%;
                    margin: 0px 25%;
                    background-color: map-get($primary-palette, default);
                    color: map-get($primary-palette, "default-contrast");
                    font-family: Roboto, "Helvetica Neue", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
                    cursor: pointer;
                    border: none;
                    min-width: 64px;
                    line-height: 36px;
                    padding: 0 16px;
                }
            }
        }
    }      
}