@import './breakpoints.scss';

::ng-deep {
    .hopper-dialog-container {
        max-width: 640px !important;

        @include media-breakpoint('gt-md') {
            min-height: 600px !important;    
        }

        @include media-breakpoint('lt-md') {
            height: 80%;    
        }

        @include media-breakpoint('lt-sm') {
            max-width: 100% !important;
            height: 100%;
        }
    
        .mat-mdc-dialog-container {
            padding: 0px !important;
            border-radius: 0px;

            .mat-mdc-dialog-content {
                // Full height - header - footer
                max-height: calc(100% - 212px);

                @include media-breakpoint('lt-sm') {
                    // Full height - header - mobile footer
                    max-height: calc(100% - 264px);
                }
            }

            .mat-mdc-dialog-content,
            .mat-mdc-dialog-actions {
                padding: 0px !important;
                margin: 0px !important;
            }
        }
    }
}
