@import './breakpoints.scss';

::ng-deep {
    .hopper-dialog-container {
        max-width: 640px !important;

        @include media-breakpoint('lt-md') {
            max-width: 80% !important;
        }

        @include media-breakpoint('lt-sm') {
            max-width: 100% !important;
            height: 100%;
        }
    
        .mat-dialog-container {
            padding: 0px !important;
            border-radius: 0px;

            .mat-dialog-content,
            .mat-dialog-actions {
                padding: 0px !important;
                margin: 0px !important;
            }
        }
    }
}
