<div class="cfar-exercise-flow-page-container p-32" fxLayout="row wrap" fxLayoutAlign="start start">

    <p fxFlex="100">This page is displayed to the User following the successful retrieval of a CFAR contract for a booking eligible to the refund.
        The User gets a display of the booking’s itinerary that can be cancelled and is prompted to choose the refund type.<br />
        This page provides an authentication mode based on a one-time password. A numeric code will be sent to the registered email in the CFAR contract. The user will have to enter this code (i.e. code = 123456 for the demo) before processing an exercise.</p>

    <mat-tab-group fxFlex="100" backgroundColor="primary" class="tab-group mb-16">

        <mat-tab label="Overview">
            <div class="p-16">
                <hopper-cfar-exercise-flow
                    [isFakeBackend]="isFakeBackend"
                    [basePath]="basePath"
                    [imageBasePath]="imageBasePath"
                    [currentLang]="currentLang"
                    [hCSessionId]="hCSessionId"
                    [exerciseId]="exerciseId"
                    [hyperwalletUrl]="hyperwalletUrl"
                    (airlineRefundSelected)="onAirlineRefundSelected($event)"
                    (flowCompleted)="onFlowCompleted()"
                ></hopper-cfar-exercise-flow>
            </div>
        </mat-tab>

        <mat-tab label="TS">
            <div fxLayout="row" fxLayout="start start">
                
                <textarea fxFlex="90" highlight-js [lang]="'typescript'">
                    {{ tsCode }}
                </textarea>

                <div fxFlex="10" fxLayout="row" fxLayoutAlign="end start" class="p-16">
                    <button mat-icon-button aria-label="Copy example source" (click)="onCopySourceCode(tsCode)">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>

            </div>
        </mat-tab>

        <mat-tab label="HTML">
            <div fxLayout="row" fxLayout="start start">
                
                <textarea fxFlex="90" highlight-js [lang]="'html'">
                    {{ htmlCode }}
                </textarea>

                <div fxFlex="10" fxLayout="row" fxLayoutAlign="end start" class="p-16">
                    <button mat-icon-button aria-label="Copy example source" (click)="onCopySourceCode(htmlCode)">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>

            </div>
        </mat-tab>

    </mat-tab-group>

    <app-inputs fxFlex="100" [inputs]="getInputs()"></app-inputs>

    <app-outputs fxFlex="100" [outputs]="getOutputs()"></app-outputs>

</div>