<mat-toolbar class="mat-elevation-z4" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
        <span fxHide.lt-md routerLink="/guides/{{ currentPartnerId }}" class="pointer">Hopper Cloud Airlines - Angular SDK - {{ version }}</span>
        <span fxHide.gt-sm routerLink="/guides/{{ currentPartnerId }}" class="pointer">{{ version }}</span>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [matMenuTriggerFor]="themeMenu" aria-label="Open Menu">
            <mat-icon class="mr-8">palette</mat-icon>
            <span fxHide.lt-md>{{ currentTheme }}</span>
        </button>

        <mat-menu #themeMenu="matMenu">
            <button mat-menu-item *ngFor="let theme of themes" attr.aria-label="Apply {{ theme }} theme" (click)="onSetTheme(theme)">
                <mat-icon>palette</mat-icon>
                <span>{{ theme }}</span>
            </button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="languageMenu" ariaLabel="Language Selection">
            <mat-icon class="mr-8" svgIcon="flag_{{ currentLang }}"></mat-icon>
            <span>{{ currentLang | uppercase }}</span>
        </button>

        <mat-menu #languageMenu="matMenu">
            <button mat-menu-item *ngFor="let language of languages" (click)="onSetLanguage(language)"
                attr.aria-label="Set the current language to {{ language }}">
                <mat-icon svgIcon="flag_{{ language }}"></mat-icon>
                <span>{{ language | uppercase }}</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>