// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

// Import component mixins here to enable theming for them
@import "../components/cfar-offer-banner/cfar-offer-banner.component.scss";
@import "../components/cfar-offer-dialog/cfar-offer-dialog.component.scss";
@import "../components/cfar-exercise-dialog/cfar-exercise-dialog.component.scss";
@import "../components/event-button/event-button.component.scss";

// Define a mixin for easier access
@mixin custom-components-theme($theme) {
  @include cfar-offer-banner-theme($theme);
  @include cfar-offer-dialog-theme($theme);
  @include cfar-exercise-dialog-theme($theme);
  @include event-button-theme($theme);
}

// ------------------------------------------
// THEMING
// ------------------------------------------

$theme-A-primary: mat.define-palette(mat.$amber-palette);
$theme-A-accent: mat.define-palette(mat.$cyan-palette);
$theme-A-warn: mat.define-palette(mat.$red-palette);
$theme-A-theme: mat.define-light-theme((
  color: (
    primary: $theme-A-primary,
    accent: $theme-A-accent,
    warn: $theme-A-warn,
  )
));

.hopper-theme-A {
  // Apply the theme to all Angular Material Components
  @include mat.all-component-themes($theme-A-theme);

  // Apply the theme to our custom components
  @include custom-components-theme($theme-A-theme);
}