<div class="guides-page-container p-32" fxLayout="row wrap" fxLayoutAlign="start start">

    <h2 fxFlex="100">
        HTS - CFAR SDK offers a wide variety of UI components based on
        <a aria-describedby="Material design specification" href="https://material.io/components">the Material Design specification</a>
    </h2>

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="16px">

        <mat-card class="m-16" *ngFor="let component of components" [routerLink]="component?.link">
            
            <img mat-card-image src="assets/miniatures/{{ component?.link }}.png" alt="{{ component?.name }} miniature">
            
            <mat-card-header>
              <mat-card-title>{{ component?.name }}</mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
              <p>{{ component?.description }}</p>
            </mat-card-content>
          </mat-card>
          

    </div>

</div>