<div class="cfar-offer-banner-page-container p-32" fxLayout="row wrap" fxLayoutAlign="start start">

    <p fxFlex="100">This banner can be integrated in your booking funnel in order to display CFAR offers to the User. CFAR offers will be created dynamically, including a description in the page’s language and a starting price.
        Following a click of the User on the 'Select' button, the CFAR Dialog will open.</p>

    <mat-tab-group fxFlex="100" backgroundColor="primary" class="tab-group mb-16">

        <mat-tab label="Overview">
            <div class="p-16">
                <hopper-cfar-offer-banner
                    [isFakeBackend]="isFakeBackend"
                    [basePath]="basePath"
                    [currentLang]="currentLang"
                    [hCSessionId]="hCSessionId"
                    [itineraries]="itineraries"
                    (offerAccepted)="onOfferAccepted($event)"
                ></hopper-cfar-offer-banner>
            </div>
        </mat-tab>

        <mat-tab label="TS">
            <div fxLayout="row" fxLayout="start start">
                
                <pre fxFlex="80"><code [highlight]="tsCode"></code></pre>

                <div fxFlex="20" fxLayout="row" fxLayoutAlign="end start" class="p-16">
                    <button mat-icon-button aria-label="Copy example source" (click)="onCopySourceCode(tsCode)">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>

            </div>
        </mat-tab>

        <mat-tab label="HTML">
            <div fxLayout="row" fxLayout="start start">
                
                <pre fxFlex="80"><code [highlight]="htmlCode"></code></pre>

                <div fxFlex="20" fxLayout="row" fxLayoutAlign="end start" class="p-16">
                    <button mat-icon-button aria-label="Copy example source" (click)="onCopySourceCode(htmlCode)">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>

            </div>
        </mat-tab>

    </mat-tab-group>

    <app-inputs fxFlex="100" [inputs]="getInputs()"></app-inputs>

    <app-outputs fxFlex="100" [outputs]="getOutputs()"></app-outputs>

</div>