<div class="px-32" ngClass.lt-md="px-16" fxLayout="row" fxLayoutAlign="center center">

    <ng-container *ngIf="!isLoading">

        <mat-card *ngIf="cheapestOffer" class="m-16 pointer" fxFlex fxLayout="row wrap">
    
            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px">
    
                <div fxFlex="calc(20% - 16px)" fxHide.lt-md fxLayout="row" fxLayoutAlign="center center" class="p-16" ngClass.lt-sm="px-0">
                    <img src="assets/offer-banner-icon.svg">
                </div>

                <div fxFlex="60" fxFlex.lt-md="100" fxLayout="column" fxLayoutAlign="center start">
    
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <h2 class="offer-title">{{ 'CFAR_OFFER_BANNER.TITLE' | translate }}</h2>
                    </div>

                    <ng-container *ngFor="let desc of cheapestOffer?.offerDescription; let i = index;">
                        <!-- DIRTY FIX : Hide the second description -->
                        <div class="py-16" *ngIf="i != 1" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
                            <mat-icon class="check-icon">check</mat-icon>
                            <span>{{ desc }}</span>
                        </div>
                    </ng-container>
            
                </div>

                <div fxFlex="calc(20% - 16px)" fxFlex.lt-md="100" fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.lt-md="end center">
                    <button mat-raised-button (click)="onSubmit(cheapestOffer)">
                        {{ 'CFAR_OFFER_BANNER.BUTTON.SELECT' | translate }}
                    </button>
                </div>
    
            </div>
            
        </mat-card>

        <ng-container *ngIf="!cheapestOffer">
            <p>{{ 'CFAR_OFFER_BANNER.NO_OFFERS' | translate }}</p>
        </ng-container>

    </ng-container>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
        <p>{{ 'CFAR_OFFER_BANNER.LOADING' | translate }}</p>
    </div>

</div>
