<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px" class="p-16">
    <button HopperEventsDirective mat-flat-button color="primary">Primary button 1</button>
    <button HopperEventsDirective 
        [hopperEventId]="hopperEventId" 
        [hopperEventObject]="hopperEventObject"
        mat-flat-button color="accent">Accent button 1</button>
    <button mat-flat-button disabled>Disabled button 1</button>
    <button mat-flat-button>Secondary button 1</button>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px" class="p-16">
    <button mat-stroked-button color="primary">Primary button 2</button>
    <button mat-stroked-button color="accent">Accent button 2</button>
    <button mat-stroked-button disabled>Disabled button 2</button>
    <button mat-stroked-button>Secondary button 2</button>
</div>

<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px" class="p-16">
    <button mat-button color="primary">Primary button 3</button>
    <button mat-button color="accent">Accent button 3</button>
    <button mat-button disabled>Disabled button 3</button>
    <button mat-button>Secondary button 3</button>
</div>