
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

// ------------------------------------------
// COMPONENT THEMING
// ------------------------------------------

// angular-sdk Lib
@import "../projects/angular-sdk/src/styles/theme.scss";

// Components
@import "./app/app.component.scss";

@import "./app/pages/guides/guides.component.scss";
@import "./app/pages/guides/cfar-offer-banner/cfar-offer-banner.component.scss";
@import "./app/pages/guides/cfar-offer-banner-large/cfar-offer-banner-large.component.scss";
@import "./app/pages/guides/cfar-offer-dialog/cfar-offer-dialog.component.scss";
@import "./app/pages/guides/cfar-exercise-flow/cfar-exercise-flow.component.scss";

@import "./app/pages/not-found/not-found.component.scss";

@import "./app/shared/components/inputs/inputs.component.scss";
@import "./app/shared/components/layout/layout.component.scss";
@import "./app/shared/components/navbar/navbar.component.scss";
@import "./app/shared/components/outputs/outputs.component.scss";

// Mixin for easier access
@mixin documentation-components-theme($theme) {
  @include app-component-theme($theme);

  @include guides-page-component-theme($theme);
  @include cfar-offer-banner-page-component-theme($theme);
  @include cfar-offer-banner-large-page-component-theme($theme);
  @include cfar-offer-dialog-page-component-theme($theme);
  @include cfar-exercise-flow-page-component-theme($theme);

  @include not-found-page-component-theme($theme);

  @include inputs-component-theme($theme);
  @include layout-component-theme($theme);
  @include navbar-component-theme($theme);
  @include outputs-component-theme($theme);
}

// ------------------------------------------
// THEMES (For documentation)
// ------------------------------------------

$hopper-primary-palette: (
  50: #FEEDED,
  100: #FDD2D1,
  200: #FCB4B3,
  300: #FB9594,
  400: #FA7F7D,
  500: #F96866,
  600: #F8605E,
  700: #F75553,
  800: #F64B49,
  900: #F53A38,
  A100: #FFFFFF,
  A200: #FFFFFF,
  A400: #FFD7D7,
  A700: #FFBEBE,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$hopper-accent-palette: (
  50: #e9eaeb,
  100: #c9cacc,
  200: #a5a7aa,
  300: #808488,
  400: #65696f,
  500: #4a4f55,
  600: #43484e,
  700: #3a3f44,
  800: #32363b,
  900: #22262a,
  A100: #7ab1fb,
  A200: #4894fa,
  A400: #1076ff,
  A700: #0069f6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$hopper-primary: mat.define-palette($hopper-primary-palette, 500, 300, 700);
$hopper-accent: mat.define-palette($hopper-accent-palette, 500, 300, 700);
$hopper-warn: mat.define-palette(mat.$red-palette);

$hopper-dark-theme: mat.define-dark-theme((
  color: (
    primary: $hopper-primary,
    accent: $hopper-accent,
    warn: $hopper-warn,
  )
));

$hopper-light-theme: mat.define-light-theme((
  color: (
    primary: $hopper-primary,
    accent: $hopper-accent,
    warn: $hopper-warn,
  )
));

.theme-dark-hopper {
  // Apply the theme to all Angular Material Components
  @include mat.all-component-themes($hopper-dark-theme);

  // Apply the theme to the library components
  @include hopper-cloud-airlines-angular-sdk-components-theme($hopper-dark-theme);

  // Apply the theme to the documentation components
  @include documentation-components-theme($hopper-dark-theme);
}

.theme-light-hopper {
  // Apply the theme to all Angular Material Components
  @include mat.all-component-themes($hopper-light-theme);

  // Apply the theme to the library components
  @include hopper-cloud-airlines-angular-sdk-components-theme($hopper-light-theme);

  // Apply the theme to the documentation components
  @include documentation-components-theme($hopper-light-theme);
}

// ----------------------------------------------------------
// OVERRIDEN FOR DOCUMENTATION PURPOSE (Managed by the SDK)
// ----------------------------------------------------------

.theme-light-blue {
  // Apply the theme to all Angular Material Components
  @include mat.all-component-themes($light-blue-theme);

  // Apply the theme to the library components
  @include hopper-cloud-airlines-angular-sdk-components-theme($light-blue-theme);

  // Apply the theme to the documentation components
  @include documentation-components-theme($light-blue-theme);
}

// ------------------------------------------
// GLOBAL STYLE
// ------------------------------------------

/* You can add global styles to this file, and also import other style files */

body { 
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}
.pointer { cursor: pointer; }
